html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET ABOVE  -  STYLE BELOW */


/* ------------  GLOBALS  -------------- */
html,
body {
    box-sizing: border-box;
    font-family: chalk;
}

* {
    box-sizing: border-box;
}

.flexParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* ------------  NAV  -------------- */
nav {
    position: fixed;
    top: 0;
}

nav,
footer {
    height: 120px;
    width: 100%;
}

body {
    min-height: 100vh;
}

.appTitle h1 {
    color: white;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

/* ------------  Main -------------- */
.fullContainer {
    width: 100%;
    height: 100px;
    background: gray;
}

.mainContent {
    width: 320px;
    height: 500px;
    box-shadow: 0 0 5px 0px black;
    align-content: flex-start;
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.945);
}

.displayContainer {
    margin-top: 10px;
    width: 80%;
    height: 73%;
    align-content: flex-start;
    padding: 2px;
}

/* ------------  Trick Displayed Info -------------- */

.trickName,
.inventor {
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.skillLevel,
.yearCreated {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.yearCreated {
    margin-bottom: 10px;
}

.description {
    text-align: center;
    padding: 2px;
}


/* ------------  FOOTER -------------- */
footer {
    position: fixed;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 24px;

}

/* ------------  INPUT -------------- */
input {
    width: 80%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}

input::placeholder {
    text-align: center;
}

/* ------------  BUTTONS -------------- */
.btnStyle {
    background: black;
    color: white;
    display: inline-block;
    width: 40%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.btnStyle:first-of-type {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.btnStyle:last-of-type {

    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.btnStyle:hover {
    filter: opacity(.75);
}

.btnStyle:active {
    filter: opacity(.75);
}

/* Backgrounds */
.gripTapeBG {
    background-image: url('https://funboxskate.com/wp-content/uploads/2016/10/standardgritgriptape.jpg');
    background-position: 50% 50%;
    background-size: contain;
}

.multiDeckBG {
    background-image: url('/css/assets/decks.jpg');
    background-position: 50% 50%;
    background-size: contain;
}

/* FONTS */
@font-face {
    font-family: chalk;
    src: url(/css/assets/Chalk-y\ Sans.otf);
}